@import 'utility';

.Menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: background-color 200ms ease;

  .drawer {
    background-color: $wetAsphalt;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3em;
    transform: translateX(-3em);
    box-shadow: 0 0 0 transparent;
    transition: all 200ms ease;
  }

  header,
  li {
    text-align: center;
    padding: 1em;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  nav {
    button,
    a {
      &:link,
      &:visited {
        font-size: 1.5rem;
        font-family: $base-font-family;
        color: $clouds;
        text-decoration: none;
        background-color: transparent;
        border: none;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        color: lighten($clouds, 10%);
      }

      &:active {
        color: $alizarin;
      }
    }
  }

  &.open {
    right: 0;
    background-color: transparentize(#333, 0.5);

    .drawer {
      transform: translateX(0);
      box-shadow: 0 0 10em transparentize(black, 0.33);
    }
  }

  button {
    padding: 0;

    i {
      color: $clouds;
    }
  }
}
