.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize(black, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: $clouds;
    box-shadow: 0 0 10em transparentize(black, 0.33);
    min-width: 200px;
  }

  header {
    text-align: right;
    padding: 0.5em;

    button {
      font-size: 2rem;
      line-height: 0;
      background-color: transparent;
      padding: 0;
      border: none;
      color: $wetAsphalt;

      &:focus,
      &:hover {
        outline: none;
        color: $peterRiver;
      }

      &:active {
        color: $alizarin;
      }
    }
  }

  .content {
    padding: 0 1em 1em;
  }

  h3 {
    margin-top: 0;
  }

  form {
    text-align: center;

    input[type=text],
    input[type=email] {
      display: block;
      margin: 0.5em 0;
    }
  }
}
