.Transactions {
  ul {
    padding-left: 0;
    list-style: none;
  }

  table {
    width: 100%;
    border-spacing: 0;

    th {
      border-bottom: medium solid $wetAsphalt;
      margin-bottom: 0.5em;
    }

    th,
    td {
      text-align: center;
      padding: 0.25em;
    }

    tr {
      &.add {
        color: $emerald;
      }

      &.remove {
        color: $pomegranate;
      }
    }

    img {
      border-radius: 50%;
      border: medium solid $belizeHole;
    }
  }
}
