@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid');
@import 'colors';

$base-text-size: 24px;
$base-font-family: 'Londrina Solid',  sans-serif;
$base-text-color: $wetAsphalt;
